<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftDrawer class="sidenav" [mode]="'push'">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="#">Link 1</a>
            <a mat-list-item href="#">Link 2</a>
            <a mat-list-item href="#">Link 3</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav #rightDrawer class="sidenav" [position]="'end'" [mode]="'push'">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="#">Link 1</a>
            <a mat-list-item href="#">Link 2</a>
            <a mat-list-item href="#">Link 3</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" mat-icon-button (click)="leftDrawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <button type="button" mat-icon-button>
                <span class="side-menu">venator</span>
            </button>
            <span class="spacer"></span>
            <button type="button" mat-icon-button (click)="rightDrawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>