/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts/font.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    height: 100%;
}

.mrs {
    margin-right: 2rem !important;
}

.mtl {

    margin-top: 20px;
}

.mtxl {

    margin-top: 40px;
}

.mtxs {

    margin-top: 5px;
}

.text-right {
    text-align: right;
}