.sidenav-container {
    height: 100%;
}

a.nav-links {
    margin-left: 50px;
}

a.nav-links:link {
    color: white;
}

a.nav-links:visited {
    color: white;
}

a.nav-links:active {
    color: white;
}

a.nav-links:hover {
    color: white;
}

.sidenav {
    width: 200px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 9;
}

mat-progress-bar {
    position: sticky;
    top: 65px;
    z-index: 9;
}

.spacer {
    flex: 1 1 auto;
}

.side-menu {
    font-size: 4rem;
}